.newsPage {
  margin-top: 20px;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.newsPages {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.newsItemUrlCard {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsItemUrlCard .newsItemUrl {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
}

.newsItemUrlCard .newsItemUrl:hover {
  color: var(--noactive-text-color);
}